<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>429461742941-vrj1t022sqhge02t52ac370lfc0rcj8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.429461742941-vrj1t022sqhge02t52ac370lfc0rcj8j</string>
	<key>API_KEY</key>
	<string>AIzaSyDCs6iFQC8so8rfmPewbPHcM_fEUOShrdU</string>
	<key>GCM_SENDER_ID</key>
	<string>429461742941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rks.preschoolbengali</string>
	<key>PROJECT_ID</key>
	<string>reactnativeadmobproject</string>
	<key>STORAGE_BUCKET</key>
	<string>reactnativeadmobproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:429461742941:ios:6d33b9c5b8358736a0f4b4</string>
</dict>
</plist>